<head>
  <%- include('./import.ejs') %>
  <title>
    <%= title %>
  </title>
</head>

<body>

  <%- include('./header.ejs') %>
  <div class="px-6 lg:px-8 py-10">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">List of Nations</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all the nations which is country of caption player.</p>
      </div>

      <% if (isAuth == true && isAdmin == true) { %>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <button data-target="modal-js-example" class=" js-modal-trigger block rounded-md bg-love-dark py-1.5 px-3 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-love-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add nation</button>
      </div>
      <%} %>
    </div>
    <div class="mt-8 flow-root">
      <div class="-my-2 -mx-6 overflow-x-auto lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 pl-6 pr-3 text-left text-sm font-semibold text-gray-900">Name</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
                  <% if (isAuth == true && isAdmin == true) { %>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Actions</th>
                  <%}%>
                            </tr>
                      </thead>
                      <tbody class="divide-y divide-gray-200 bg-white">
                        <% nations.forEach(function(nation){ %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-6 pr-3 text-sm font-medium text-gray-900"> <%= nation.name %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= nation.description %></td>
                  <% if (isAuth == true && isAdmin == true) { %>                  
                  <td class="relative flex gap-5 whitespace-nowrap py-4 pl-3 pr-6 text-right text-sm font-medium">
                    <a href="/nations/<%=nation.id%>" class="text-love hover:text-love">Edit</a>
                    <a href="nations/delete/<%=nation.id%>" class="text-red-600 hover:text-red-900" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                  </td><%}%>
                </tr>
                <% })%>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- ----------------------------------------------- -->
  <%- include('./createNations.ejs') %>
  <%- include('./footer.ejs') %>
  <div id="popup" class="bg-gray-800 text-white p-4 rounded">
    <p class="text-lg">Warning: Already player with this nation!</p>
    <button id="close-btn" class="text-white text-sm mt-2">Close</button>
  </div>
  <script>
    const popup = document.getElementById('popup');
    const closeBtn = document.getElementById('close-btn');
  
    function showPopup() {
      popup.classList.remove('hidden');
    }
  
    function hidePopup() {
      popup.classList.add('hidden');
    }
  
    closeBtn.addEventListener('click', hidePopup);
  
    // Call showPopup() function to show the popup message when the page loads
    
    showPopup();
  </script>
  <%- include('./script.ejs') %>
</body>

</html>