<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./import.ejs') %>

    <title><%= title %></title>
  </head>

  <body>
    <%- include('./header.ejs') %>

    <!---->
    <div class="container">
      <% if (isAuth == true && isAdmin == true) { %>
      <div class="flex items-center justify-end w-full pt-10">
        <button
          data-target="modal-js-example"
          type="button"
          class="inline-flex items-center py-2 text-sm font-medium leading-4 text-white bg-love-dark border border-transparent rounded-md shadow-sm js-modal-trigger px-7 hover:bg-love-dark focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          Add new player
        </button>
      </div>
      <% } %>
      <div
        class="grid grid-cols-2 mb-5 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8"
      >
        <% players.forEach(function(player){ %>
        <!--  -->
        <%- include('./player.ejs', { player, }) %>
        <!--  -->
        <% })%>
      </div>
    </div>
    <%- include('./createPlayer.ejs') %>
    <!--  -->
    <%- include('./footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('./script.ejs') %>
  </body>
</html>
